body{
    overflow-x: hidden;
}

.navBarNav{
    padding-left: 990px;
}
.card{
    width: 400px;
    margin-top: 120px;
}


.perfilFoto{
    width: 300px;
    padding-left: 100px;
}

.botonesMarca{
    padding-left: 690px;
}

.buscador{
    margin-top: 60px;
}