.cajaCheck{
    padding-left: 50px;
    
}
.marcaCaja{
    padding-left: 50px;
}
.anios{
    width: 90px;
    padding-left: 120px;
}

.marcas{
    padding-top: 50px;
    width: 200px;
}

.botonSiguiente{
    margin-top: 80px;
    width: 100px;
    margin-right: 200px;
}