.tituloConBoton{
    margin-top: 150px;
}

.botonVer{
    margin-left: 200px;
}

.tituloCompra{
    margin-left: 20px;
}
.tarjetaAutito{
    margin-left: 20px;
}
.autitoImg{
    width: 180px;
    margin-left: 50px;
}
.tarjetaCelu{
    width: 319px;
}
.tarjetaCarrusel{
    margin-left: 740px;
}

.flecha{
    background-color: black;

}

.botonFooter{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 500px;
}