@media only screen and(max-width: 768px){
    .linksFooter{
        margin-top: 20px;
        font-size: 13px;
        
    }
    .linksFooter2{
        margin-top: 20px;
        font-size: 13px;
        
    }
    
    div{
        a{
            text-decoration: none;
        }
    }
    .imgFooter{
        width: 120px;
    }
}
