body{
    overflow-x: hidden;
}
.imgRemolque{
    margin-left: 90px;
}

.buscador{
    margin-top: 60px;
}

.textoConBotones{
    margin-top: 60px;
}

.botonComprar{
    margin-bottom: 20px;
    margin-left: 10px;
}
.botonVender{
    margin-left: 10px;
}

.texto{
    margin-left: 10px;
}

.tarjetaCarrusel{
    margin-left: 540px;
}

.flecha{
    background-color: black;

}
.tituloCarrusel{
    margin-left: 410px;
}