.imgConcesionaria{
    width: 540px;
}

.cajaConMenuDesplegable{
    padding-left: 50px;
}

.tituloConcesionario{
    margin-left: 350px;
    margin-top: 50px;
}

.tarjetasService{
    margin-left: 201px;
}
.tituloCentroService{
    margin-left: 350px;
    margin-top: 50px;
}

.tarjetasService2{
    margin-left: 440px;
}