@media only screen and(max-width: 768px){
    .imgConcesionaria{
        width: 181px;
    }
    
    .cajaConMenuDesplegable{
      padding-left: 20px;
    }
    
    .tituloConcesionario{
        margin-left: 0px;
        margin-top: 50px;
    }
    
    .tarjetasService{
        margin-left: 0px;
    }
    .tituloCentroService{
        margin-left: 0px;
        margin-top: 50px;
    }
    
    .tarjetasService2{
        margin-left: 0px;
    }
    .titulitoConse{
        font-size: 23px;
    }
    .titulitoInspec{
        font-size: 23px;
    }
}