.imgHidraulica{
    width: 350px;
    margin-left: 100px;
}
.cajaTituloBoton{
    padding-left: 50px;
}

.imgMecanico{
    width: 430px;
    margin-left: 75px;
}

.cajaFotoTexto{
    margin-top: 50px;
}

.tituloPreguntas{
    margin-top: 50px;
    margin-left: 380px;
    margin-bottom: 50px;
}