<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cotizador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	  <link rel="stylesheet" href="../css/estilo.css">
    <script defer src="../js/cotizador.js"></script>

</head>
<body>
    <div class="conteiner">
		  <div class="row">
			  <div class="col-lg-6">
				  <nav class="navbar bg-white">
				      <a class="navbar-brand" href="../index.html">
				        <img src="../assets/img/auto.jpg" alt="Bootstrap" width="150" height="150">
				      </a>
          </nav>
				</div>
			</div>


        <div class="row cajaCheck" id="checkBoxAños">

          

          
        </div>
        <label class="row" id="botonDeLasMarcas">
          <button type="button" id="marcaCotizador" class="btn btn-dark"> volver a Cotizar</button>
        </label>
       



        <!--footer-->
        <div class="row">
          <div class=" col-lg-4 col-4">
            <img src="../assets/img/auto.jpg" class="imgFooter">
          </div>
          <div class="col-lg-4 col-4 linksFooter">
            <a href="">Compra Tu Auto</a><br>
            <a href="">Financiamiento</a><br>
            <a href="">Vende Tu Auto</a><br>
          </div>

          <div class="col-lg-4 col-4 linksFooter2">
            <a href="">Preguntas Frecuentes</a><br>
            <a href="">Blog</a><br>
            <a href="">Testimoniales</a><br>
          </div>
        </div>



    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>